body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    min-height: 90vh;
    background: linear-gradient(
      #009688 0%,
      #009688 130px,
      #f1f3ee 130px,
      #f1f3ee 100%
    );
    overflow:hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif;
  }
  #chatpanel {
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    max-width: 100%;
    margin:30px;
    background: #fff;
    height: calc(100vh - 20px);
    display: flex;
    overflow: hidden;
  }
  #chatpanel #chatpanel_left {
    position: relative;
    display: block;
    flex: 30%;
    background: #f7e2d6;
    border-right: 1px solid black;
  }
  #chatpanel_left_header {
    position: relative;
    width: 100%;
    height: 60px;
    background: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #chatpanel_left_list {
    background: #ededed;
    display: flex;
    position: absolute;
    width: 100%;
    height: calc(100vh - 10px);
    flex-direction: column;
  }
  #user_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px;
    list-style-type: none;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  #user_list li {
    position: relative;
    width: 90%;
    height: 60px;
    background: #ededed;
    display: flex;
    justify-content: revert;
    align-items: center;
  }

  #user_list li:hover {
    background: #dadada;
  }
  #user_list li.active{
    background: #dadada;
  }

  #user_list li.not_active{
    background: #ededed;
  }

  #user_list li .notification{
    visibility: hidden;
    
    background: #06d755;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    justify-content: center;
    padding: 5px;
    color: #fff;
    align-items: center;
  }

  .groupName {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  #chatpanel_right {
    position: relative;
    display: flex;
    flex: 70%;
    background: #ffd9c0;
    border-right: 1px solid black;
    height: 100%;
    flex-direction: column;
  
  }
  #chatpanel_right_header {
    position: absolute;
    width: 100%;
    height: 60px;
    background: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header_style{
    display: flex;
    position: absolute;
    padding: 20px;
  }
  #chatpanel_right_box {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    align-items: stretch;
    padding-top: 60px;
    max-height: calc(100vh - 60px);
    overflow: hidden;
    flex-direction: column;
  
  }
  .comments {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px 10px;
    list-style-type: none;
    padding: 10px;
    width: 100%;

    
  }
  .comments_wrapper{
    flex-grow:1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 40px;
  }
  .comments li > div {
    display: inline-flex;
    padding: 15px;
    border-radius: 100px;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .comments li.self-message {
    text-align: right;
  }

  .comments li.self-message div {
    background-color: #ccffcc;
    text-align: right;
  }
  .comments li.others-message div {
    background-color: #858579;
    text-align: left;
  }
  .comments.comment p {
    margin: 0 0 10px 0;
  }
  #form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
  }

  #input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
    height: 30px;
  }

  #form > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
  }
  .userImg {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 15px;
  }
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
  }
  .nav_icons {
    display: flex;
    margin-right: 15px;
  }
  .nav_icons li {
    display: flex;
    list-style: none;
    cursor: pointer;
    color: #51585c;
    margin-left: 22px;
  }
  #mySearch {
    width: 94.5%;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ddd;
  }

  .comments_wrapper::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  
  .comments_wrapper::-webkit-scrollbar
  {
    width: 10px;
    background-color: #F5F5F5;
  }
  
  .comments_wrapper::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-linear-gradient(top,
                          #d8fff9 0%,
                          #c4f5ef 50%,
                          #a4dfd6 51%,
                          #8ed3c9 100%);

  }
  #logOutIcon {
    padding-right: 15px;
    cursor: pointer;
  }